
/***smooth scroll***/

html {
    scroll-behavior: smooth;
  }
/*******Navbar*******/

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    padding-right: 0;
}

.navbar .navbar-toggler {
    border: 10;
    border-color: white;
}

.navbar-brand {
    font-weight: none;
    font-family: 'Pacifico', sans-serif;
    font-size: 25px;
}

/******Main container - Main section *****/

.main-container {
    height: 100vh;
    background: url('../assets/images/main-photo.jpeg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
}

/***background overlay main section***/

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/****text properties for main section ****/

.textMain {
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    font-size: 20px;
    color: white;
}

.title {
    font-size: 35px;
}

/******About us******/

/*** Title ***/

.aboutTitle {
    padding-top: 20px;
    font-weight: bold;
    font-size: 25px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    justify-content: center;
    display: flex;
    background-color: black;
}

.about-section-container {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
    font-family: 'PT Sans Narrow', sans-serif;
}

/**left column about section **/

.about-left {
    text-align: center;
}

/**right column about section **/

.about-right {
    margin-top: 100px;
    font-size: 20px;
    text-align: center;
    color: #806231;
}

/**About photo section properties**/

.about-photo {
    width: 100% !important;
    height: auto !important;
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*****Our cakes section *****/


.cakeTitle {
    padding-top: 20px;
    font-weight: bold;
    font-size: 25px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    
}
.cakes-container {
    justify-content: center;
    margin-top: 20px;
    
    text-align: center;
    background-color: #1b100d;
    padding-bottom: 20px; 
    
}

.cake-section-container {
    background-color: #1b100d;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
   
    
}

/***All Cakes photo properties ***/
 
.img-fluid {
    width: 450px;
    height: 350px;
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}


/***Contact****/

.contact-container {
    height: 100vh;
    background: url('../assets/images/contact-section.jpeg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
}
    


.contactTitle {
    padding-top: 20px;
    font-weight: bold;
    font-size: 25px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

.btn-success{
    background-color: #1b100d;
    border:none;
}

/****form properties ***/

.form-control{
    width:450px;
    resize:none;
}


.form-wrapper{
    background-color:transparent;

}

/*********Footer**************/

.footer {
    text-align: center;
    width: 100%;
    background: #1b100d;
    
}

.social-icons{

    justify-content: center;
    background-color: #1b100d;
    color:white;
    font-size: 30px;
}


.contain-icons{
    justify-content: center;
   
}

.icon{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.footer-container{
    background:#1b100d;
    text-align: center;
    color:white;
    font-family: 'PT Sans Narrow', sans-serif;
}


/***Media Queries***/

@media only screen and (max-width: 1024px) {
    /* For mobile phones: */
    .about-photo {
        width: 100% !important;
        height: auto !important;
    }
    /**for tablets**/
    .about-right {
        margin-top: 10px;
        font-size: 15px;
    }
    .img-fluid {
        width: 350px;
        height: 220px;
        border-radius: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        
    }

    .form-control{
        width:200px;
    }
}

/****add tablet media query over 1024***/